<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<title>Password Gen: About</title>
<div class="container text-center">
    <h1>This page is information about "Password Generator"</h1>

    <h2>This app can generate a password with any settings:</h2>
    <p style="font-size: 20px" class="text-success">With numbers!<br>
    With uppercase chars!<br>
    And with special chars!</p>

    <p style="font-size: 20px">Passwords are a real security threat. Over 80% of hacking-related breaches are due to weak or stolen passwords,<br>
        a recent report shows . So if you want to safeguard your personal info and assets,<br>
        creating secure passwords is a big first step. And that’s where the LastPass Password Generator can help. <br>
        Impossible-to-crack passwords are complex with multiple types of characters (numbers, letters, and symbols). <br>
        Making your passwords different for each website or app also helps defend against hacking. <br>
        This password generator tool runs locally on your Windows, Mac or Linux computer, as well as your iOS or Android
        <br>device. The passwords you generate are never sent across the web. Do some shit.</p>

    <h2>Created by Shizik</h2>

    <a href="{% url 'home' %}" style="font-size: 30px" class="btn btn-warning">Go Home</a>
</div>
